body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
    padding-left:26px;
    width:125px;
    text-transform: uppercase;
    display:inline-block
}